<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

<p>
	Splurty was built by <a target="_blank" href="https://madeline-young.netlify.com/">Madeline Young</a>
</p>
<br />
<!-- <p>
	#####
</p> -->
<p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
</p>
</div>

<div class="row">
	<div class="col-12 col-sm-4">
		<%= image_tag 'me.jpg', class: 'img-fluid' %>
	</div>
</div>

<div class="col-12 col-sm-4" style="padding-top:30px;">
      <h2 class="text-center">Madeline Young</h2>
      <br />
      <p>
      	Madeline is a former Exercise Physiologist and Cardiac Tech with a special interest in Information Technology.
      </p>
	</div>
</div>
  <br class="clear" />
<br />
<br />
<br />
<br />

